extends ../layouts/layout

block content
  .container.mt-4
    h2 Edit Post
    form(method="POST", action=`/edit/${post.id}`)
      input(type="hidden", name="_csrf", value=csrfToken)
      .mb-3
        label(for="title") Title:
        input.form-control(type="text", name="title", value=post.title, required)
      .mb-3
        label(for="content") Content:
        textarea.form-control(name="content", required)= post.content
      button.btn.btn-primary(type="submit") Save Changes
    br
    form(method="POST", action=`/delete/${post.id}`)
      input(type="hidden", name="_csrf", value=csrfToken)
      button.btn.btn-danger(type="submit") Delete Post
