extends ../layouts/layout

block content
  .container.mt-4
    h2 Blog Statistics
    ul.list-group
      li.list-group-item Average Length: #{average_length} characters
      li.list-group-item Median Length: #{median_length} characters
      li.list-group-item Maximum Length: #{max_length} characters
      li.list-group-item Minimum Length: #{min_length} characters
      li.list-group-item Total Length of All Posts: #{total_length} characters
